{{ define "main" }}
  {{ if .Menus }}
    <nav class="post-navigation">
    {{ range .Menus }}
        <a href="{{ .ConfiguredURL | absLangURL }}" title="{{ .Title }}">{{ .Name }}</a>
    {{ end }}
    </nav>
  {{ end }}

  <article class="post h-entry">
  <div class="post-header">
      <header>
          <h1 class="p-name post-title{{ if .Params.favorite }} favorite{{end}}{{ if .Params.draft }} draft{{end}}">{{ trim .Title  " " }}</h1>

          {{ partial "post-language-switcher.html" . }}
      </header>
  </div>

  {{ partial "podcast-subscribe.html" . }}


  <div class="content e-content">
      {{ .Content }}
  </div>

  <div>
    <audio controls>
      <source src="{{.Site.BaseURL}}{{.Params.mp3.asset_link}}" type="audio/mpeg">
    </audio>
  </div>

  <div class="post_downloads mb-2 mr-2">
    <div class="icon-download"><strong>Herunterladbar als:</strong>
      <a href="{{.Site.BaseURL}}{{.Params.mp3.asset_link}}" class="download-link">MP3</a>
    </div>
  </div>
  
  {{ partial "post-info.html" . }}

  </article>

  {{ if not .Params.disableComments }}
    {{ partial "comments.html" . }}
  {{ end }}
{{ end }}