/* * Global style */
:root {
  --body-background: #f5f5fa;
  --accent-color: #34495e;
  --accent-color-darker: #2c3e50;
  --accent-color-text: #fff;
  --body-text-color: #555;
  --tag-border-radius: 4px;
  --section-separation: 40px;
}
@media (min-width: 813px) {
  :root {
    --main-top-padding: 35px;
 }
}
@media (min-width: 1920px) {
  :root {
    --main-top-padding: 50px;
 }
}
@media (prefers-color-scheme: dark) {
  :root {
    --body-background: #303030;
    --accent-color: #ecf0f1;
    --accent-color-darker: #bdc3c7;
    --accent-color-text: #000;
    --body-text-color: rgba(255, 255, 255, 0.7);
 }
}
/** * Global font family */
:root {
  --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --zh-font-family: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
  --base-font-family: var(--sys-font-family), var(--zh-font-family);
  --code-font-family: Menlo, Monaco, Consolas, "Courier New";
}
/* * Card style */
:root {
  --card-background: #fff;
  --card-background-selected: #eaeaea;
  --card-text-color-main: #000;
  --card-text-color-secondary: #747474;
  --card-text-color-tertiary: #bababa;
  --card-separator-color: rgba(218, 218, 218, 0.5);
  --card-border-radius: 10px;
  --card-padding: 30px;
  --small-card-padding: 25px;
}
@media (max-width: 1920px) {
  :root {
    --card-padding: 25px;
 }
}
@media (max-width: 1024px) {
  :root {
    --card-padding: 20px;
 }
}
@media (max-width: 1024px) {
  :root {
    --small-card-padding: 25px 20px;
 }
}
@media (prefers-color-scheme: dark) {
  :root {
    --card-background: #424242;
    --card-background-selected: rgba(255, 255, 255, 0.16);
    --card-text-color-main: rgba(255, 255, 255, 0.9);
    --card-text-color-secondary: rgba(255, 255, 255, 0.7);
    --card-text-color-tertiary: rgba(255, 255, 255, 0.5);
    --card-separator-color: rgba(255, 255, 255, 0.12);
 }
}
/** * Article content font settings */
:root {
  --article-font-family: var(--base-font-family);
  --article-font-size: 1.7rem;
  --article-line-height: 1.85;
}
@media (max-width: 1024px) {
  :root {
    --article-font-size: 1.6rem;
 }
}
/* * Article content style */
:root {
  --blockquote-border-size: 4px;
  --blockquote-background-color: #000;
  --heading-border-size: 4px;
  --link-background-color: 189, 195, 199;
  --link-background-opacity: 0.5;
  --link-background-opacity-hover: 0.7;
  --pre-background-color: #272822;
  --pre-text-color: #f8f8f2;
  --code-background-color: rgba(0, 0, 0, 0.12);
  --code-text-color: #808080;
  --table-border-color: #dadada;
  --tr-even-background-color: #efefee;
}
@media (prefers-color-scheme: dark) {
  :root {
    --code-background-color: #272822;
    --code-text-color: rgba(255, 255, 255, 0.9);
    --table-border-color: #717171;
    --tr-even-background-color: #545454;
    --blockquote-background-color: #000;
 }
}
/* * Shadow style * Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker */
:root {
  --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
}

.mastodon-comment {
  background-color: var(--body-background);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  flex-grow: 2;
}
.mastodon-comment .comment {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: true;
}
.mastodon-comment .comment-avatar img {
  width: 6rem;
}
.mastodon-comment .content {
  flex-grow: 2;
}
.mastodon-comment .comment-author {
  display: flex;
  flex-direction: column;
}
.mastodon-comment .comment-author-name {
  font-weight: bold;
}
.mastodon-comment .comment-author-name a {
  display: flex;
  align-items: center;
}
.mastodon-comment .comment-author-date {
  margin-left: auto;
}
.mastodon-comment .disabled {
  color: var(--accent-color);
}
.mastodon-comment-content p:first-child {
  margin-top: 0;
}
.mastodon {
  --dlg-bg: #282c37;
  --dlg-w: 600px;
  --dlg-color: #9baec8;
  --dlg-button-p: 0.75em 2em;
  --dlg-outline-c: #00d9f5;
}
.copypaste {
  display: flex;
  align-items: center;
  gap: 10px;
}
.copypaste input {
  display: block;
  font-family: inherit;
  background: #17191f;
  border: 1px solid #8c8dff;
  color: #9baec8;
  border-radius: 4px;
  padding: 6px 9px;
  line-height: 22px;
  font-size: 14px;
  transition: border-color 0.3s linear;
  flex: 1 1 auto;
  overflow: hidden;
}
.copypaste .button {
  border: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 22px;
  overflow: hidden;
  padding: 7px 18px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: auto;
  background-color: #232730;
}
.copypaste .button:hover {
  background-color: #16181e;
}
[data-component*="dialog"] * {
  box-sizing: border-box;
  outline-color: var(--dlg-outline-c, #1346a0);
}
:where([data-component*="dialog"]) {
  --dlg-gap: 1em;
  background: var(--dlg-bg, #fff);
  border: var(--dlg-b, 0);
  border-radius: var(--dlg-bdrs, 0.25em);
  box-shadow: var(--dlg-bxsh, 0px 25px 50px -12px rgba(0, 0, 0, 0.25));
  font-family: var(--dlg-ff, ui-sansserif, system-ui, sans-serif);
  min-inline-size: var(--dlg-mis, auto);
  padding: var(--dlg-p, var(--dlg-gap));
  width: var(--dlg-w, fit-content);
  color: var(--dlg-color, #000);
}

.mastodon-wrapper {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}

.comment-level {
  max-width: 3rem;
  min-width: 3rem;
}

.reply-original {
  display: none;
}

.avatar {
  background-position:50%;
  background-size:cover;
  border-radius:50%;
  box-shadow:0 0 2px var(--neutral);
  margin:0;
  overflow:hidden
}
section#comments #comments-wrapper {
  margin:1.5em 0;
  padding:0 var(--card-padding)
}
section#comments .comment {
  display:grid;
  column-gap:1rem;
  grid-template-areas:"avatar name" "avatar time" "avatar post" "...... interactions";
  grid-template-columns:min-content;
  justify-items:start;
  margin:0 auto 0 -1em;
  padding:.5em
}
section#comments .comment.comment-reply {
  margin:0 auto 0 1em
}
section#comments .comment .avatar-link {
  grid-area:avatar;
  height:4rem;
  position:relative;
  width:4rem
}
section#comments .comment .avatar-link .avatar {
  height:100%;
  width:100%
}
section#comments .comment .avatar-link.op::after {
  background-color:var(--accent-color);
  border-radius:50%;
  bottom:-.25rem;
  color:var(--accent-color-text);
  content:"✓";
  display:block;
  font-size:1.25rem;
  font-weight:700;
  height:1.5rem;
  line-height:1.5rem;
  position:absolute;
  right:-.25rem;
  text-align:center;
  width:1.5rem
}
section#comments .comment .author {
  align-items:center;
  display:flex;
  font-weight:700;
  gap:.5em;
  grid-area:name
}
section#comments .comment .author .instance {
  background-color:var(--code-background-color);
  border-radius:9999px;
  color:var(--neutral);
  font-size:smaller;
  font-weight:400;
  padding:.25em .75em
}
section#comments .comment .author .instance:hover {
  opacity:.8;
  text-decoration:none
}
section#comments .comment .author .instance.op {
  background-color:var(--accent-color);
  color:var(--accent-color-text)
}
section#comments .comment .author .instance.op::before {
  content:"✓";
  font-weight:700;
  margin-inline-end:.25em;
  margin-inline-start:-.25em
}
section#comments .comment time {
  grid-area:time;
  line-height:1.5rem
}
section#comments .comment main {
  grid-area:post
}
section#comments .comment main p:first-child {
  margin-top:.25em
}
section#comments .comment main p:last-child {
  margin-bottom:0
}
section#comments .comment footer {
  grid-area:interactions
}
section#comments .comment footer .faves {
  color:inherit
}
section#comments .comment footer .faves:hover {
  opacity:.8;
  text-decoration:none
}
section#comments .comment footer .faves::before {
  color:red;
  content:"♥";
  font-size:2rem;
  margin-inline-end:.25em
}
section#comments .comment .emoji {
  display:inline;
  height:1.25em;
  vertical-align:middle;
  width:1.25em
}
section#comments .comment .invisible {
  display:none
}
section#comments .comment .ellipsis::after {
  content:"…"
}