{{ i18n "hosted" }} <a target="_blank" rel="noopener noreferrer" href="https://codeberg.page">Codeberg Pages</a>. 
<br>
{{ i18n "licensed" }} <a target="_blank" rel="noopener noreferrer" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.