{{ $dateFormat := "2006-01-02" }}
{{ if .Site.Params.dateFormat }}
    {{ $dateFormat = .Site.Params.dateFormat }}
{{ end }}

<div class="post-info">
    {{ if .Params.date }}
        <div class="post-date dt-published">Veröffentlicht am {{ .Params.date.Format $dateFormat }}{{ if ne .Params.lastmod .Params.date }}, zuletzt geändert am {{ .Params.lastmod.Format $dateFormat }}{{ end }}
        </div>
    {{ end }}

    <a class="post-hidden-url u-url" href="{{ .Permalink }}">{{ .Permalink }}</a>
    <a href="{{ .Site.BaseURL }}" class="p-name p-author post-hidden-author h-card" rel="me">{{ .Params.author | default .Site.Params.author }}</a>


    <div class="post-taxonomies">
        {{ if .Params.categories }}
            <ul class="post-categories">
                {{ range $cat_name := .Params.categories }}
                    {{ $cat := ($.Site.GetPage (printf "/categories/%s" $cat_name)) }}
                    <li><a href="{{ $cat.Permalink }}">{{ $cat.Title | default $cat_name }}</a></li>
                {{ end }}
            </ul>
            {{ end }}
            {{ if .Params.tags }}
                <ul class="post-tags">
                    {{ range $tag_name := .Params.tags }}
                        {{ $tag := ($.Site.GetPage (printf "/tags/%s" $tag_name)) }}
                        <li><a href="{{ $tag.Permalink }}">#{{ $tag.Title | default $tag_name }}</a></li>
                    {{ end }}
                </ul>
        {{ end }}
    </div>
</div>
